*{
    font-family: 'Roboto', sans-serif;
}

/*navBar*/
.navBar{
    position: fixed;

    width:100%;
    top:0px;
    left:0;
    right:0;
    z-index: 9999;

    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.094),0 2px 2px 0 rgba(0,0,0,0.04),0 1px 5px 0 rgba(0,0,0,0.098);

}
.mainTitle{
    width:100%;
    padding-left: 20px;
    color:gray;
}

#searchButton{

    position: absolute;
    right:10px;
    top:3px;
}



.buttonBar{
    position: fixed;
    height:30px;
    width:100%;
    top:0px;
    left:0;
    right:0;
    background-color: #0CAC73;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
}
.gridContainer{
        margin:auto;
    margin-top: 140px;
    width:900px;
    height:600px;
    position: relative;
}
.row{
    width:100%;
    display: table;
}
.clicked{
  /*  background-color: black !Important;*/
   background-color: gray !Important;
   background-repeat: no-repeat !Important;
  background-size: 100% !Important;
}
.startGrid{
    background: green !important;
}
.goalGrid{
    background: red !important;
}
.grid{
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.94),0 2px 2px 0 rgba(0,0,0,0.5),0 1px 5px 0 rgba(0,0,0,0.5);

    width:30px;
    height:30px;
    background-color: white;
    position: relative;
    vertical-align: top;
    display: inline-block;


}
.gridElement{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.gridDummy{
    padding-top: 100%;
}
.gridClickable{
    position: absolute;
    top:0;
    left:0;
    right:0;
    vertical-align: top;
    bottom:0;
    z-index: 1000;
}




/*canvas*/
.mainCanvas{
    position: absolute;
/*    width: 900px;
    height: 580px;*/
    z-index: 100;
}


.console{
    width:50%;
    margin: auto;
    padding:50px;
    text-align: center;
}