<!doctype html>
<html ng-app="anyAngle">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body ng-controller="mainController">
    <div class="navBar">
      <p class="mainTitle">Any Angle Visualization  </p>
      <md-button type ="button" class="md-warn" id = "searchButton">Search</md-button>


    </div>
    <div class="gridContainer">
         <canvas height="600" width="900" id="mainCanvas" class="mainCanvas"></canvas>
         <canvas height="600" width="900" id="mainCanvas2" class="mainCanvas"></canvas>
         <canvas height="600" width="900" id="mainCanvas3" class="mainCanvas"></canvas>
        <div class="row" ng-repeat="y in getNumber(size.row) track by $index">
            <div class="grid" ng-class="{'clicked' : cell[$parent.$index][$index].obstacle , 'startGrid' : $parent.$index == 19 && $index == 0 , 'goalGrid' : $parent.$index == 0 && $index == 29}" ng-repeat="x in getNumber(size.column) track by $index">
            <div class="gridDummy"></div>
            <div class="gridElement"></div>
            <a class="gridClickable" href="" ng-click="gridClicked($parent.$index, $index)">
            </a>
            </div>
        </div>
    </div>
   <!--  <div class="console">
          <md-checkbox ng-checked="aStar" ng-click="aStar != aStar">
                      A*
          </md-checkbox>
           <md-checkbox ng-checked="lazyAStar" ng-click="lazyAStar != lazyAStar">
                      Lazy A*
          </md-checkbox>
           <md-checkbox ng-checked="thetaStar" ng-click="thetaStar != thetaStar">
                      Theta *
          </md-checkbox>
    </div> -->
    <div class="console">
          <md-button ng-click="pathOne()">
                Path 1
          </md-button>
          <md-button ng-click="pathTwo()">
                Path 2
          </md-button>
          <md-button ng-click="pathThree()">
                Path 3
          </md-button>
    </div>
    <div class="console">
          <md-button ng-click="clearPath(0)">
                Clear Path 1
          </md-button>
          <md-button ng-click="clearPath(1)">
                Clear Path 2
          </md-button>
          <md-button ng-click="clearPath(2)">
                Clear Path 3
          </md-button>
    </div>
  </body>
</html>

